/* global vars*/

/*
:root {}
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	scroll-behavior: smooth;
	list-style: none;
}


body {
	background-color: #ffff
}

header,
section {
	margin: 5rem auto;
	width: 70%;
}

header {
	padding: 1.5rem 0 0;
	height: 90vh;
	width: 85%;
	margin: 0 auto 12rem;
}


#cdLogo {
	width: 18rem;
	height: 5rem;
}

#hamburger,
#hamburgerLinks {
	display: none;
}

nav {
	width: 100%;
	padding: 3rem 3rem 0;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	margin-bottom: 3rem;
	position: relative;
}

#navLinks {
	position: absolute;
	text-align: right;
	right: 0;

}

#navLinks a {
	border-bottom: 1px solid black;
	margin: 0 0 0 2rem;
	color: black;
	text-decoration: none;
	font-size: 1.15rem;
	padding: 0.4rem;
	border-radius: 3%;
	font-weight: 450;
}


#headCaption {
	height: 90%;
	width: 100%;
	background-image: url(./assets/wings1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#bgOverlay {
	background-color: rgba(0, 0, 0, .3);
	height: 100%;
	width: 100%;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header h2 {
	width: auto;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 2.5rem;
	color: white;
	margin-bottom: 1rem;
	border-bottom: 2px solid white;
}

#menuBtn {
	width: 5rem;
	padding: 0.5rem;
	margin: 0 auto;
}

/*
* Info Section
*/
section#info {
	margin: 0 auto;
	padding: 0 2rem;
}


#infoContent {
	display: flex;
	flex-flow: column wrap;
	gap: 3rem;
	height: 20rem;
	align-items: center;
}

#info .topic {
	margin: 1rem;
	width: 15rem;
	height: 3rem;
}

#info .topic h4 {
	letter-spacing: 1.25px;
	font-weight: 650;
	margin-bottom: 0.75rem;
	font-size: 1.2rem;
}

#info .topic p {
	letter-spacing: 1.25px;
	line-height: 25px;
}

#info .topic span {
	margin: 0;
	padding: 0;
}

/*
* Menu Section
*/

section>h1 {
	border-bottom: 1px solid black;
	width: fit-content;
	letter-spacing: 4px;
	font-family: "Baskervville SC", serif;
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 3rem;
}

#regMenu {
	margin-bottom: 4.5rem;
}

#regMenu>ul {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem;
	justify-content: center;

}

#regMenu>ul li {
	letter-spacing: 1.5px;
	line-height: 20px;
	width: 19rem;
}

#regMenu>ul li h3 {
	letter-spacing: 1.75px;
	font-weight: 550;
	margin-bottom: 5px;
	position: relative;
}

#regMenu>ul li h3 span {
	position: absolute;
	right: 0;
}

#regMenu>ul .description p {
	line-height: 24px;
	letter-spacing: 1.35px;
	width: 100%;
}

.choice {
	font-weight: 500;
}

section#menu>h2 {
	letter-spacing: 3px;
	font-family: "Baskervville SC", serif;
}

section#menu>h2 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}

#hhMenus {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	margin: 1rem auto;
	padding-bottom: 2rem;
	gap: 6rem;
	justify-content: center;
}


#hhMenus ul>h2 {
	letter-spacing: 1.5px;
	font-weight: 510;
	font-size: 1.35rem;
	margin-bottom: 1rem;
	text-align: center;
}

#hhMenus h3 {
	letter-spacing: 1.05px;
	margin-bottom: 4px;
	width: 100%;
	font-weight: 425;
	position: relative;
}

#hhMenus h3 span {
	position: absolute;
	right: 0;
}

#hhMenus ul li {
	width: 20rem;
	margin: .75rem 0;
}

/*
* Gallery
*/

#layout {
	width: 100%;
	margin: 0 0.5rem;
}

#ribs-hori {
	grid-area: ribs-hori
}

#ribs-vert {
	grid-area: ribs-vert
}

#bar1 {
	grid-area: bar
}

#layout {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"ribs-hori ribs-hori ribs-vert ribs-vert"
		"bar bar ribs-vert ribs-vert";
	margin: 0 auto;
	width: fit-content;
	gap: 1rem;


}

#layout img {
	object-fit: cover;
	object-position: center;
	margin: 1rem;
	height: 100%;
	width: 100%;
}

#layout #ribs-vert {
	position: relative;
	align-self: center;
	height: 85%;
	width: 95%;
}

#map {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
}

/*
* Footer
*/
footer {
	font-size: 1rem;
	letter-spacing: 2.5px;
	width: 100%;
	text-align: center;
	padding: 1rem 2rem;
}

footer p {
	font-weight: 450
}

footer img {
	height: 4.5rem;
	width: 4.5rem;
}

/* make 943px breakpoint for hamburger*/
@media (max-width: 1476px) {

	#hhMenus {
		gap: 2rem;
	}

	header {
		width: 90%;
	}


	section {
		width: 95%;
	}

	section#info {
		text-align: center;
	}

	section#menu>h2 {
		text-align: center;
	}

	section>h1 {
		margin-left: auto;
		margin-right: auto;
		text-align: center
	}


}

#hamburger {
	height: 3rem;
	width: 3rem;
	border: 2px solid rgba(0, 0, 0, .3);
	padding: 0.5rem;
	flex-direction: column;
	justify-content: space-around;
	border-radius: 5%;
	margin-left: 1rem;
}

#hamburger .line {
	height: 1px;
	border-radius: 30%;
	background-color: grey;
	bottom: 0.3rem;
}

@media (max-width: 1023px) {
	#infoContent {
		gap: 1rem;
	}
}

@media (max-width: 920px) {

	#headCaption {
		display: none;
	}

	section>h1 {
		border-bottom: none;
	}

	header {
		height: fit-content;
		margin-bottom: 1rem;
	}


	header h2 {
		font-size: 1.85rem;
	}

	#layout {
		width: 85%;
		display: flex;
		flex-flow: row wrap;
		gap: 2.5rem;
		justify-content: center;
	}

	#layout img {
		margin: 0 auto;
		height: 100%;
		width: 100%;

	}

	#layout #ribs-vert {
		width: 100%;
		height: 70%;
	}

	#info>h1 {
		margin-bottom: 1.5rem;
	}

	#map {
		height: 22rem;
	}
}

@media (max-width: 900px) {

	#cdLogo {
		margin-top: 2rem;
	}

	#navLinks {
		top: 0;
		width: 100%;
		text-align: center;
	}

	#navLinks a {
		margin: 0 1.5rem;
	}

	#hamburger {
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
	}

	#infoContent {
		flex-wrap: nowrap;
		height: fit-content;
		gap: 0;
	}

	#info .topic {

		height: auto;
	}

	section#info {
		margin-bottom: 4rem;
	}

	footer p {
		font-size: 0.85rem;
	}
}
